
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Cart";
}

<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            background-color: white;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            background-color: white;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
            background-color: white;
        }
    </style>
</head>
<body>

    <h2>Cart</h2>

    <table>
        <tr>
            <th>Ticket</th>
            <th>Info</th>
            <th>Price</th>
            <th class="text-center">Delete Ticket</th>
        </tr>
        @*start loop here*@
        <tr>
            <td>Ghost</td>
            <td>This is a swedish band</td>
            <td>40 <a href="#">kr</a></td>
            <td><button type="submit" class="center-block btn btn-danger">Delete</button></td>
        </tr>
        @*end of loop*@
        <tr>
            <th colspan="3"><span class="pull-right">Sub Total:</span></th>
            <th>50kr</th>
        </tr>
        <tr>
            <th colspan="3"><span class="pull-right">Tax 30%:</span></th>
            <th>50kr</th>
        </tr>
        <tr>
            <th colspan="3"><span class="pull-right">Total Price:</span></th>
            <th>50kr</th>
        </tr>
        <tr>
            <td><a href="Index" class="btn btn-primary">Continue Shopping</a></td>
            <td colspan="3"><button class="pull-right btn btn-success" type="submit">Checkout</button></td>
        </tr>
    </table>
</body>
</html>




