@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Heavenly way 1b<br />
    Heavenstown, 25532 Sweden<br />
    <abbr title="Phone">P:</abbr>
    000769017616
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@amazingticketshop.com">Support@amazingticketshop.com</a><br />
    <strong>Questions about payment:</strong> <a href="mailto:Payment@amazingticketshop.com">Payment@amazingticketshop.com</a>
</address>
