@{
    ViewData["Title"] = "Home Page";
}

<h1>HEJ</h1>

<div class="gCol3 gCol6m">
    <div class="tile bMag3">
        <h3 class="t m pbl txt">Tickets</h3>
        <ul>
            <li class="Database">
                <a href="" class="">Elton John</a>
            </li>
        </ul>
        <ul>
            <li class="Database">
                <a href="" class="">The tallest man on earth</a>
            </li>
        </ul>
    </div>
</div>
