@using TicketSystemEngine;
@model List<TicketEvent>

@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container" id="container">
        <h2>@Localizer["Tickets"]</h2>

        @if (Model != null)
    {
        foreach (TicketEvent ticketevent in Model)
        {
            <div class="col-lg-3 col-md-8 mb-4">
                <div class="ticket">
                    <img class="ticket-img-top" src="~/images/skarri.png" alt="" />
                    <div class="ticket-body">
                        <h4 class="ticket-title">@ticketevent.EventName</h4>
                        <p class="ticket-info">@ticketevent.EventHtmlDescription</p>
                        <p class="ticket-price">Price @ticketevent.TicketEventPrice</p>
                    </div>
                    <div class="ticket-footer">
                        <a href="" id="btn-cart" class="btn-cart">Buy</a>
                    </div>
                </div>
            </div>
    }
}
    </div>

</body>
</html>

