@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" id="container">
    <h2>Tickets</h2>
    
    <div class="row text-center">

        <div class="col-lg-3 col-md-8 mb-4">
            <div class="ticket">
                <img class="ticket-img-top" src="~/images/skarri.png" alt="" />
                <div class="ticket-body">
                    <h4 class="ticket-title">Elton John</h4>
                    <p class="ticket-info">Amazing music, u will have the best time of your life!!</p>
                    <p class="ticket-price">Price: 50$</p>
                </div>
                <div class="ticket-footer">
                    <a href="" id="btn-cart" class="btn-cart">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-8 mb-4">
            <div class="ticket">
                <img class="ticket-img-top" src="~/images/skarri.png" alt="" />
                <div class="ticket-body">
                    <h4 class="ticket-title">Elton John</h4>
                    <p class="ticket-info">Amazing music, u will have the best time of your life!!</p>
                    <p class="ticket-price">Price: 50$</p>
                </div>
                <div class="ticket-footer">
                    <a href="" id="btn-cart" class="btn-cart">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-8 mb-4">
            <div class="ticket">
                <img class="ticket-img-top" src="~/images/skarri.png" alt="" />
                <div class="ticket-body">
                    <h4 class="ticket-title">Elton John</h4>
                    <p class="ticket-info">Amazing music, u will have the best time of your life!!</p>
                    <p class="ticket-price">Price: 50$</p>
                </div>
                <div class="ticket-footer">
                    <a href="" id="btn-cart" class="btn-cart">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-8 mb-4">
            <div class="ticket">
                <img class="ticket-img-top" src="~/images/skarri.png" alt="" />
                <div class="ticket-body">
                    <h4 class="ticket-title">Elton John</h4>
                    <p class="ticket-info">Amazing music, u will have the best time of your life!!</p>
                    <p class="ticket-price">Price: 50$</p>
                </div>
                <div class="ticket-footer">
                    <a href="" id="btn-cart" class="btn-cart">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-8 mb-4">
            <div class="ticket">
                <img class="ticket-img-top" src="~/images/skarri.png" alt="" />
                <div class="ticket-body">
                    <h4 class="ticket-title">Elton John</h4>
                    <p class="ticket-info">Amazing music, u will have the best time of your life!!</p>
                    <p class="ticket-price">Price: 50$</p>
                </div>
                <div class="ticket-footer">
                    <a href="" id="btn-cart" class="btn-cart">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-8 mb-4">
            <div class="ticket">
                <img class="ticket-img-top" src="~/images/skarri.png" alt="" />
                <div class="ticket-body">
                    <h4 class="ticket-title">Elton John</h4>
                    <p class="ticket-info">Amazing music, u will have the best time of your life!!</p>
                    <p class="ticket-price">Price: 50$</p>
                </div>
                <div class="ticket-footer">
                    <a href="" id="btn-cart" class="btn-cart">Add to cart</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-8 mb-4">
            <div class="ticket">
                <img class="ticket-img-top" src="~/images/skarri.png" alt="" />
                <div class="ticket-body">
                    <h4 class="ticket-title">Elton John</h4>
                    <p class="ticket-info">Amazing music, u will have the best time of your life!!</p>
                    <p class="ticket-price">Price: 50$</p>
                </div>
                <div class="ticket-footer">
                    <a href="" id="btn-cart" class="btn-cart">Add to cart</a>
                </div>
            </div>
        </div>


    </div>

</div>

</body>
</html>

