body {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}
#mainbody {
    background-image: url('../images/vintage_admit_one_ticket__back_side_sjpg4143.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: top;
}

.wrapper{
    width: auto;
    margin: 0 auto;
}

.btn-forgot {
    display: inline-block;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #FFFACD;
    border: none;
    border-radius: 15px;
}

.btn-forgot:hover {
    background-color: #FF7F50;
}

.btn-forgot:active {
    background-color: #ffd800;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn-login {
    display: inline-block;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #FFFACD;
    border: none;
    border-radius: 15px;
}

.btn-login:hover {
    background-color: #FF7F50;
}

.btn-login:active {
    background-color: #ffd800;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn-register {
    display: inline-block;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #FFFACD;
    border: none;
    border-radius: 15px;
}

.btn-register:hover {
    background-color: #FF7F50;
}

.btn-register:active {
    background-color: #ffd800;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

