@using TicketSystemEngine;
@model TicketEvent
@{
    ViewData["Title"] = "Enter Event Details";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="addevent" method="post">
                <div class="form-group" method="post">
                    <label>Name</label>
                    <input class="form-control" id="EventNameTxt" required />
                </div>
                <div class="form-group" method="post">
                    <label>Description</label>
                    <input class="form-control" id="DescriptionTxt" required />
                </div>

                <div class="form-group" method="post">
                    <label>Price</label>
                    <input class="form-control" id="PriceTxt" required />
                </div>
                         
                <div class="form-group" method="post">
                    <button type="button" class="AddEventBtn" id="AddEventBtn" name="AddEventBtn" onclick="myFunction()">Add Event</button>
                </div>
            </form>
        </section>
    </div>
</div>

<script>
        function myFunction() {
            var dataType = 'application/json'

            var datalist1 = {
                EventName: $("#EventNameTxt").val(),
                EventHtmlDescription: $("#DescriptionTxt").val(),
                TicketEventPrice: $("#PriceTxt").val(),                              
            }

            $.ajax({
                type: "POST",
                url: "http://localhost:51775/Event/",
                dataType: 'application/json',
                contentType: dataType,
                data: JSON.stringify(datalist1),
                success: alertFunction()
            });
            
            document.getElementById("addevent").reset();
        };
</script>
<script>
        function alertFunction() {
            alert("Event Created");
        }
</script>
