
@{
    ViewData["Title"] = "Orders";
}

<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            background-color: white;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            background-color: white;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
            background-color: white;
        }
    </style>
</head>
<body>

    <h2>Orders</h2>

    <table>
        <tr>
            <th>TransactionID</th>
            <th>BuyerLastName</th>
            <th>BuyerFirstName</th>
            <th>BuyerAddress</th>
            <th>BuyerCity</th>
            <th>PaymentStatus</th>
            <th>PaymentReferenceID</th>
            <th>TicketID</th>
            <th>BuyerEmailAddress</th>
            <th>EventStartDateTime</th>
            <th>EventName</th>
        </tr>
        <tr>
            <td>a</td>
            <td>b</td>
            <td>s</td>
            <td>w</td>
            <td>e</td>
            <td>t</td>
            <td>f</td>
            <td>g</td>
            <td>h</td>
            <td>u</td>
            <td>o</td>
        </tr>
    </table>
</body>
</html>

