@using TicketSystemEngine;
@model Venue
@{
    ViewData["Title"] = "View";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="addvenue">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" id="NameTxt" />
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input class="form-control" id="AddressTxt"/>
                </div>
                
                <div class="form-group">
                    <label>City</label>
                    <input class="form-control" id="CityTxt"/>
                </div>
                <div class="form-group">
                    <label>Country</label>
                    <input class="form-control" id="CountryTxt"/>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" id="AddVenueBtn">Add Venue</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section scripts {
    <script>
        $("#AddVenueBtn").click(function () {
            $.ajax({
                type: "POST",
                url: "localhost:51775/venue/",
                data: { VenueName = Model.VenueName, Address = Model.Address, City = Model.City, Country = Model.Country }
            });
        });
    </script>
}