@using TicketSystemEngine;
@model Venue
@{
    ViewData["Title"] = "View";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="addvenue" method="post">
                <div class="form-group" method="post">
                    <label>Name</label>
                    <input class="form-control" id="NameTxt" required/>
                </div>
                <div class="form-group" method="post">
                    <label>Address</label>
                    <input class="form-control" id="AddressTxt" required/>
                </div>
                
                <div class="form-group" method="post">
                    <label>City</label>
                    <input class="form-control" id="CityTxt" required/>
                </div>
                <div class="form-group" method="post">
                    <label>Country</label>
                    <input class="form-control" id="CountryTxt" required/>
                </div>
                <div class="form-group" method="post">
                    <button type="button" class="AddVenueBtn" id="AddVenueBtn" name="AddVenueBtn" onclick="myFunction()">Add Venue</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @*<script>
        function myFunction() {
            var name = $("#NameTxt").val();
            var address = $("#AddressTxt").val();
            var city = $("#CityTxt").val();
            var country = $("#CountryTxt").val();
            // Returns successful data submission message when the entered information is stored in database.
            var dataString = JSON.stringify('VenueName=' + name + '&Address=' + address + '&City=' + city + '&Country=' + country);
            if (name === '' || address === '' || city === '' || country === '') {
                alert("Please Fill All Fields");
            } else {
                // AJAX code to submit form.
                $.ajax({
                    type: "POST",
                    url: "http://localhost:51775/venue",
                    data: dataString,
                    contentType: 'application/json',
                    cache: false,
                    success: function (html) {
                        alert(html);
                    }
                });
            }
            return false;
        }
    </script>*@
               
<script>
        function myFunction() {
            var dataType = 'application/json'
            
            var datalist = {
                VenueName: $("#NameTxt").val(),
                Address: $("#AddressTxt").val(),
                City: $("#CityTxt").val(),
                Country: $("#CountryTxt").val()
            }

            $.ajax({
                type: "POST",
                url: "http://localhost:51775/venue/",
                dataType: 'application/json',
                contentType: dataType,
                data: JSON.stringify(datalist),
                success: alertFunction()
            });

            document.getElementById("addvenue").reset();
        };
</script>
<script>
        function alertFunction() {
            alert("Venue Created");
        }
</script>
}