body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.container {
    justify-content: center;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:25px;
}
h1, h2, h3, h4, address, strong{
    text-align: center;
}
p{
    text-align: center;
}
hr {
    position: absolute;
    bottom: 20px;
}
footer{
    position: absolute;
    bottom: 0;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
}
