@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="wrapper">
        <h1>Administration Log-In</h1>
        <form class="login-form">
            <div><label class="label-name">Username</label></div>
            <input type="text" placeholder="Enter Username" class="input-username" required>
            <div><label class="label-pw">Password</label></div>
            <input type="password" placeholder="Enter Password" class="input-psw" required>
            <div>
                <button type="button" class="btn-forgot">Forgot Password</button>
                <button type="submit" class="btn-login">Log In</button>
            </div>
            
        </form>
    </div>
    <footer class="btm-footer">
        <p>&copy; @DateTime.Now.Year - BackOffice</p>
    </footer>
</body>